@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-google-blue: #4285f4;
  --color-google-red: #ea4335;
  --color-google-yellow: #fbbc05;
  --color-google-green: #34a853;
  --color-google-yellow-dark: #ebb434;
}

body {
  @apply transition-colors duration-300;
}
